doctype html
html
    head
        title User Profile
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        include header.pug
        div.maincontent
            h1 User: #{user.username}
            if assignments.length
                h2 Your Assignments
                each assignment in assignments
                    div
                        | Assignment: #{assignment.name}
                        br
                        a(href="/users/" + user.username + "/assignments/" + assignment.name) View Details
                        br
                        br
                br
                a(href="/create-assignment") Create a new assignment.
            else
                p You haven't created any assignments. 
                    a(href="/create-assignment") Create one now!

            br
            br
            br
            h2 Your Last #{displaycap} Submissions
            if executions.length
                each execution in executions
                    div.submission  
                        | Assignment: #{execution.assignment.name}
                        br
                        if execution.status === 'completed'
                            span(style="color: green;")
                                | Status: #{execution.status}
                            br
                            | Completed At: #{execution.finishedAt}
                        else if execution.status === 'failed'
                            span(style="color: red;")
                                | Status: #{execution.status}
                            br
                            | Completed At: #{execution.finishedAt}
                        else
                            span(style="color: orange;")
                                | Status: #{execution.status}
                            br
                            | Submitted At: #{execution.createdAt}
                        br
                        a(href="/executions/" + execution.id) View Details
                        br
                        br
            else
                p You haven't made any submissions yet.